<!-- views/register.ejs -->
<form method="POST" action="/register">
 <label for="username">Username</label>
 <br>
 <input type="text" name="username" placeholder="Insert your username">
 <br>
 <label for="password">Password</label>
 <br>
 <input type="password" name="password" placeholder="Insert your password">
 <br>
 
 <label for="firstName">firstName</label>
 <br>
 <input type="text" name="firstName" placeholder="Insert your firstName">
 <br>
 
 <label for="lastName">lastName</label>
 <br>
 <input type="text" name="lastName" placeholder="Insert your lastName">
 <br>

 <label for="email">Email</label>
 <br>
 <input type="email" name="email" placeholder="Insert your email">
 <br>

 <label for="type">Type</label>
 <br>
 <input type="text" name="type" placeholder="Insert your type">
 <br>
 <button type="submit">Register</button>
</form>